.body {
  border-radius: 40px;
  margin: 10px 0px 10px;
  height: 50px;
  width: 100%;
  display: flex;
  background-color: #882cca;
  align-items: center;
}
.interface {
  padding: 7px;
}
.play-button {
  height: 37px;
  width: 37px;
  border-radius: 100%;
  background-color: #480e72;
  border: none;
}
